src/pools_with_limits/node_modules
src/pools_with_limits/temp
src/pools_with_limits/build
src/pools_with_limits/dist
src/pools_with_limits/.DS_Store

src/pools_without_limits/node_modules
src/pools_without_limits/temp
src/pools_without_limits/build
src/pools_without_limits/dist
*.DS_Store
.DS_Store
# VS Code
src/*/.vscode/*
src/*/.history/
src/*.vsix

# IDEA files
*.idea

# VIM
Session.vim
