src/node_modules
src/temp
src/build
src/dist
src/.DS_Store

src/pools_without_limits/node_modules
src/pools_without_limits/temp
src/pools_without_limits/build
src/pools_without_limits/dist
*.DS_Store
.DS_Store
# VS Code
src/*/.vscode/*
src/*/.history/
src/*.vsix

# IDEA files
*.idea

# VIM
Session.vim

.env
